/* line 4, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
footer#main-footer {
  position: relative;
  border-top: 15px solid #2d87c3;
  background: #f9f9f9;
  clear: both;
}
/* line 10, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
footer#main-footer .containner {
  position: relative;
}
/* line 14, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
footer#main-footer .ft-billet {
  width: 200px;
  height: 15px;
  background: url(/img/footer-divisor.jpg) no-repeat;
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  left: 0;
  top: -15px;
}

/* line 31, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap h4 {
  font-size: .8em;
  text-transform: uppercase;
  margin: 40px 0 10px 0;
  font-weight: bold;
  color: #2d87c3;
}
/* line 39, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap ul {
  padding: 0;
  margin: 0;
}
/* line 44, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap li {
  text-shadow: 0 1px 0 #fff;
  font-size: .8em;
  list-style-type: none;
  margin-top: 10px;
}
/* line 51, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap li:first-child {
  margin-top: 0;
}
/* line 55, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap .column {
  width: 230px;
  margin-bottom: 40px;
  float: left;
}
/* line 61, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap a {
  color: #999;
}
/* line 64, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.sitemap a:hover {
  color: #777;
}

/* line 73, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.more-infos {
  border-top: 1px solid #ebebeb;
  background: #fff;
  padding: 25px 0 30px 0;
  overflow: auto;
  text-align: left;
  clear: both;
}
/* line 81, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.more-infos ul {
  padding: 0;
  margin: 20px 0 0 0;
}
/* line 86, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.more-infos li {
  margin-right: 15px;
  list-style-type: none;
  display: inline-block;
  color: rgba(44, 62, 80, 0.4);
  font-size: .8em;
  font-weight: bold;
}
/* line 95, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.more-infos li:first-child {
  color: rgba(44, 62, 80, 0.7);
}
/* line 99, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.more-infos p {
  font-size: .8em;
  color: rgba(44, 62, 80, 0.6);
  margin: 10px 0 0 0;
  clear: both;
}

/* line 109, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.logos a img {
  margin: 0 25px 0 0;
  vertical-align: middle;
}
/* line 113, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/footer.scss */
.logos a img:hover {
  opacity: .7;
}
