/* line 8, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header {
  border-top: 5px solid #008de4;
  margin: 0;
  height: 69px;
  background: #fff;
  border-bottom: 1px solid #ecf0f1;
}

#main-header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 17, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header .containner {
  position: relative;
}
/* line 21, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header .logo {
  margin-top: 16px;
  float: left;
}
/* line 25, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header .logo img {
  width: 180px;
}
/* line 30, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header a:hover img {
  opacity: .8;
}

/* line 36, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.home-index #main-header {
  border-bottom: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}

/* line 64, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#menu-trigger {
  display: none;
}

/* line 70, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
/* line 53, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header nav.login ul {
  padding-right: 95px;
}
/* line 59, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header nav.signup ul {
  padding-right: 185px;
}
#main-header nav ul {
  float: right;
  list-style: none;
  margin-top: 20px;
}
/* line 76, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header nav li {
  font-size: .8em;
  margin-left: 25px;
  color: #008de4;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}
/* line 85, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header nav li a {
  color: #999;
}
/* line 88, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#main-header nav li a:hover {
  color: #777;
}

/* line 98, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form input[type="submit"],
.login-trigger,
.signup-trigger {
  position: absolute;
  right: 0;
  top: 14px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0;
  color: white !important;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 0;
  border: none;
  font-weight: bold;
  outline: none;
}
/* line 116, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form input[type="submit"]:hover,
.login-trigger:hover,
.signup-trigger:hover {
  text-decoration: none;
  opacity: .9;
}

/* line 123, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#login-form input[type="submit"],
.login-trigger {
  width: 70px;
}

/* line 127, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.login-trigger {
  background: #008de4;
}

/* line 132, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#signup-form input[type="submit"],
.signup-trigger {
  width: 160px;
}

/* line 136, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.signup-trigger {
  background: #ff9000;
}

/* line 140, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#signup-form input[type="email"] {
  width: 250px;
}

.header-form {
  width: 520px;
  display: none;
  position: absolute;
  background: white;
  right: 0;
  top: 0;
  z-index: 900;
}
/* line 149, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form form {
  height: 69px;
  padding-top: 14px;
  text-align: right;
}
/* line 155, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form label.error {
  display: none !important;
}
/* line 160, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form input[type="email"],
.header-form input[type="password"] {
  border: 1px solid #e5e8e9;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
  padding: 0 25px 0 10px;
  outline: none;
  color: #777777;
}
/* line 172, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form input.error {
  border: 1px solid red;
}
/* line 176, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form input[type="submit"] {
  background: #729e37;
}
/* line 181, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form .email-field,
.header-form .password-field {
  position: relative;
  display: inline-block;
}
/* line 185, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form .email-field .help-link,
.header-form .password-field .help-link {
  border-radius: 9px;
  height: 18px;
  width: 18px;
  line-height: 19px;
  display: inline-block;
  text-align: center;
  background: #f8f8f8;
  z-index: 300;
  font-weight: bold;
  font-size: 12px;
  color: #ccc;
  position: absolute;
  top: 8px;
  right: 5px;
}
/* line 201, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form .email-field .help-link:hover,
.header-form .password-field .help-link:hover {
  background: #008de4;
  color: white;
.header-form input[type="email"] {
  margin-right: 10px;
}
/* line 208, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form .back-arrow {
  border-radius: 12px;
  height: 24px;
  width: 24px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  background: #f2f2f2;
  z-index: 300;
  font-weight: bold;
  font-size: 17px;
  color: #777777;
  margin-right: 15px;
}
/* line 222, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
.header-form .back-arrow:hover {
  background: #008de4;
  color: white;
}

/* line 231, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#login-form form {
  padding-right: 80px;
}

/* line 237, /Users/rafael/Projects/boletosimples-app/app/assets/stylesheets/home/header.scss */
#signup-form form {
  padding-right: 170px;
}
