<footer>
  <div class="copyright">
    <div class="inner">
      <p>©2014 Boleto Simples - Gerar Boletos Bancários ficou simples!</p>
    </div>
  </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/highlight.pack.js"></script>
<script>
  $(document).ready(function () {
    $('[data-toggle="offcanvas"]').click(function () {
      $('.row-offcanvas').toggleClass('active')
    });
    $('[data-toggle="offcanvas"]').focusout(function () {
      $('.row-offcanvas').removeClass('active')
    });
    $('pre').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>
<script>
  $('th').tooltip()
</script>
</body>
