<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>{{ page.title }}</title>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta content='Boleto Simples' name='application-name'>
  <meta content='Boleto Simples' name='author'>
  <meta content='© 2015 Boleto Simples Cobranças Ltda.' name='copyright'>
  <meta content='index, follow' name='robots'>
  <meta content='API para gerar, emitir e registrar boletos bancários com registro, geração de arquivo remessa, leitura de arquivo retorno e integração com todos os bancos - Boleto Simples' name='description'>
  <meta content='boleto bancario, gerar boleto, criar boleto, boleto internet, emitir boleto, gerar boletos, sistema boleto, pagamento boletos, boleto facil, api' name='keywords'>
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href='/assets/apple-touch-icon.png' rel='apple-touch-icon'>
  <link href='/assets/apple-touch-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  <link href='/assets/apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
  <link href='/assets/apple-touch-icon-76x76.png' rel='apple-touch-icon' sizes='76x76'>
  <link href='/assets/apple-touch-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
  <link href='/assets/apple-touch-icon-120x120.png' rel='apple-touch-icon' sizes='120x120'>
  <link href='/assets/apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
  <link href='/assets/apple-touch-icon-152x152.png' rel='apple-touch-icon' sizes='152x152'>
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link href='/assets/apple-touch-icon-152x152.png' rel='apple-touch-icon-precomposed'>
  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
  <link href='/assets/apple-touch-icon-72x72.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
  <link href='/assets/apple-touch-icon-76x76.png' rel='apple-touch-icon-precomposed' sizes='76x76'>
  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link href='/assets/apple-touch-icon-114x114.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link href='/assets/apple-touch-icon-120x120.png' rel='apple-touch-icon-precomposed' sizes='120x120'>
  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link href='/assets/apple-touch-icon-144x144.png' rel='apple-touch-icon-precomposed' sizes='144x144'>
  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link href='/assets/apple-touch-icon-152x152.png' rel='apple-touch-icon-precomposed' sizes='152x152'>
  <!-- Chrome v31+ for Android -->
  <link href='/assets/apple-touch-icon-152x152.png' rel='icon' sizes='196x196'>
  <meta content='pt_BR' property='og:locale'>
  <meta content='Boleto Simples' property='og:site_name'>
  <meta content='Emissão de cobrança por boleto bancário com registro - Boleto Simples' property='og:title'>
  <meta content='API para gerar, emitir e registrar boletos bancários com registro, geração de arquivo remessa, leitura de arquivo retorno e integração com todos os bancos - Boleto Simples' property='og:description'>
  <meta content='https://boletosimples.com.br/' property='og:url'>
  <meta content='https://boletosimples.com.br/logo.png' property='og:image'>
  <meta content='image/png' property='og:image:type'>
  <meta content='500' property='og:image:width'>
  <meta content='85' property='og:image:height'>
  <meta content='website' property='og:type'>
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/github.css" rel="stylesheet">
  <!-- Favicon -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header id='main-header'>
    <div class='containner'>
      <div class='logo'>
        <a href="https://boletosimples.com.br/"><img alt="Boleto Simples" src="/img/logo.png" title="Gerar Boleto Bancário com Boleto Simples" /></a>
      </div>
      <nav>
        <ul>
          <li><a href="https://boletosimples.com.br/">O que é?</a></li>
          <li><a href="https://boletosimples.com.br/recursos">Recursos</a></li>
          <li>Documentação</li>
          <li><a href="http://landing.boletosimples.com.br/boleto-bancario-guia-completo-de-como-funciona/">e-Book</a></li>
        </ul>
        <a class="login-trigger" href="https://boletosimples.com.br/users/sign_in">Login</a>
        <a href="#" id="menu-trigger">☰</a>
      </nav>
    </div>
  </header>
  <div class='generic-call'>
    <div class='containner'>
      <a id="simple-menu" href="#sidr">☰</a>
      <h1>Documentação para Desenvolvedores</h1>
    </div>
  </div>
