<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Documentação da API do Boleto Simples, sistema de emissão de boleto bancário online.">
  <meta name="keywords" content="boleto, boleto simples, api, documentação, documentation, webservice">
  <meta name="author" content="Boleto Simples">
  <title>{{ page.title }}</title>
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/github.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="container">
      <a class="logo pull-left" href="https://boletosimples.com.br" title="Voltar para o Início">
        <img src="/img/logo.png" alt="logotipo Boleto Simples" height="30"/>
      </a>
      {% include main-menu-en.html %}
      <button type="button" class="hidden-lg btn btn-primary btn-xs pull-right" data-toggle="offcanvas">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </header>
