<p>Documentação</p>
<ul class="nav">
  <li {% if page.url == '/en/' %}class="active"{% endif %}>
    <a href="/en/" title="Introdução">Get started</a>
  </li>
  <li class="submenu {% if page.url == '/authentication/en/' %}active{% endif %}">
    <a href="/authentication/en/" title="Authentication">Authentication</a>
    <ul class="nav">
      <li {% if page.url == '/authentication/en/token/' %}class="active"{% endif %}>
        <a href="/authentication/en/token" title="Access Token">Access Token</a>
      </li>
      <li {% if page.url == '/authentication/en/oauth2/' %}class="active"{% endif %}>
        <a href="/authentication/en/oauth2" title="OAuth2">OAuth2</a>
      </li>
      <li {% if page.url == '/authentication/en/permissions/' %}class="active"{% endif %}>
        <a href="/authentication/en/permissions" title="Permissions">Permissions</a>
      </li>
    </ul>
  </li>
  <li {% if page.url == '/en/notifications/' %}class="active"{% endif %}>
    <a href="/en/notifications/" title="Notifications">Notifications</a>
  </li>
  <li {% if page.url == '/en/libraries/' %}class="active"{% endif %}>
    <a href="/libraries/en" title="Libraries">Libraries</a>
  </li>
  <li {% if page.url == '/en/sandbox/' %}class="active"{% endif %}>
    <a href="/sandbox/en" title="Sandbox">Sandbox Enviroment</a>
  </li>
  <li {% if page.url == '/reference/en/' %}class="active"{% endif %}>
    <a href="/reference/en" title="References">References</a>
    <ul class="nav">
      <li {% if page.url == '/reference/v1/bank_billets/en/' %}class="active"{% endif %}>
        <a href="/reference/v1/bank_billets/en/" title="Billets">Billets</a>
      </li>
      <li {% if page.url == '/reference/v1/customers/en/' %}class="active"{% endif %}>
        <a href="/reference/v1/customers/en/" title="Customers">Customers</a>
      </li>
      <li {% if page.url == '/reference/v1/transactions/en/' %}class="active"{% endif %}>
        <a href="/reference/v1/transactions/en/" title="Transactions">Transactions</a>
      </li>
      <li {% if page.url == '/reference/v1/users/en/' %}class="active"{% endif %}>
        <a href="/reference/v1/users/en/" title="Authenticated User">Authenticated User</a>
      </li>
      <li {% if page.url == '/reference/v1/partner/users/en' %}class="active"{% endif %}>
        <a href="/reference/v1/partner/users/en" title="Partners & Users">Partners & Users</a>
      </li>
    </ul>
  </li>
</ul>
