<p>Documentação</p>
<ul class="nav">
  <li {% if page.url == '/' %}class="active"{% endif %}>
    <a href="/" title="Introdução">Introdução</a>
  </li>
  <li {% if page.url == '/libraries/' %}class="active"{% endif %}>
    <a href="/libraries" title="Bibliotecas">Bibliotecas</a>
  </li>
  <li {% if page.url == '/sandbox/' %}class="active"{% endif %}>
    <a href="/sandbox" title="Sandbox">Ambiente Sandbox</a>
  </li>
  <li class="submenu {% if page.url == '/authentication/' %}active{% endif %}">
    <a href="/authentication" title="Autenticação">Autenticação</a>
    <ul class="nav">
      <li {% if page.url == '/authentication/token/' %}class="active"{% endif %}>
        <a href="/authentication/token" title="Token de Acesso">Token de Acesso</a>
      </li>
      <li {% if page.url == '/authentication/oauth2/' %}class="active"{% endif %}>
        <a href="/authentication/oauth2" title="OAuth2">OAuth2</a>
      </li>
      <li {% if page.url == '/authentication/permissions/' %}class="active"{% endif %}>
        <a href="/authentication/permissions" title="Permissões">Permissões</a>
      </li>
    </ul>
  </li>
  <li {% if page.url == '/reference/' %}class="active"{% endif %}>
    <a href="/reference" title="Referências">Referências</a>
    <ul class="nav">
      <li {% if page.url == '/reference/v1/bank_billets/' %}class="active"{% endif %}>
        <a href="/reference/v1/bank_billets/" title="Boletos">Boletos</a>
      </li>
      <li {% if page.url == '/reference/v1/bank_billet_accounts/' %}class="active"{% endif %}>
        <a href="/reference/v1/bank_billet_accounts/" title="Carteiras de Cobrança">Carteiras de Cobrança</a>
      </li>
      <li {% if page.url == '/reference/v1/customers/' %}class="active"{% endif %}>
        <a href="/reference/v1/customers/" title="Clientes">Clientes</a>
      </li>
      <li {% if page.url == '/reference/v1/discharges/' %}class="active"{% endif %}>
        <a href="/reference/v1/discharges/" title="CNAB (Retorno)">CNAB (Retorno)</a>
      </li>
      <li {% if page.url == '/reference/v1/remittances/' %}class="active"{% endif %}>
      <a href="/reference/v1/remittances/" title="CNAB (Remessa)">CNAB (Remessa)</a>
      </li>
      <li {% if page.url == '/reference/v1/events/' %}class="active"{% endif %}>
        <a href="/reference/v1/events/" title="Eventos">Eventos</a>
      </li>
      <li {% if page.url == '/reference/v1/withdrawals/' %}class="active"{% endif %}>
        <a href="/reference/v1/withdrawals/" title="Saques">Saques</a>
      </li>
      <li {% if page.url == '/reference/v1/transactions/' %}class="active"{% endif %}>
        <a href="/reference/v1/transactions/" title="Transações">Transações</a>
      </li>
      <li {% if page.url == '/reference/v1/webhooks/' %}class="active"{% endif %}>
        <a href="/reference/v1/webhooks/" title="Webhooks">Webhooks</a>
      </li>
      <li {% if page.url == '/reference/v1/webhook_deliveries/' %}class="active"{% endif %}>
        <a href="/reference/v1/webhook_deliveries/" title="Webhooks Deliveries">Webhooks Deliveries</a>
      </li>
      <li {% if page.url == '/reference/v1/users/' %}class="active"{% endif %}>
        <a href="/reference/v1/users/" title="Usuários">Usuários</a>
      </li>
      <li {% if page.url == '/reference/v1/userinfo/' %}class="active"{% endif %}>
        <a href="/reference/v1/userinfo/" title="Usuário Autenticado">Usuário Autenticado</a>
      </li>
      <!--li {% if page.url == '/reference/v1/partner/users/' %}class="active"{% endif %}>
        <a href="/reference/v1/partner/users" title="Parceiros e Usuários">API de Parceiros</a>
      </li-->
    </ul>
  </li>
  <li class="submenu {% if page.url == '/webhooks/' %}active{% endif %}">
    <a href="/webhooks" title="Webhooks">Webhooks</a>
    <ul class="nav">
      <li {% if page.url == '/webhooks/events/' %}class="active"{% endif %}>
        <a href="/webhooks/events" title="Eventos">Eventos</a>
      </li>
      <li {% if page.url == '/webhooks/configuration/' %}class="active"{% endif %}>
        <a href="/webhooks/configuration" title="Configurando Webhooks">Configurando</a>
      </li>
      <li {% if page.url == '/webhooks/deliveries/' %}class="active"{% endif %}>
        <a href="/webhooks/deliveries" title="Notificações">Notificações</a>
      </li>
      <li {% if page.url == '/webhooks/payloads/' %}class="active"{% endif %}>
        <a href="/webhooks/payloads" title="Payloads">Payloads</a>
      </li>
      <li {% if page.url == '/webhooks/signature/' %}class="active"{% endif %}>
        <a href="/webhooks/signature" title="Segurança do Webhook">Assinatura de Segurança</a>
      </li>
    </ul>
  </li>
  <li class="submenu {% if page.url == '/notifications/' %}active{% endif %}" style="text-decoration:line-through;">
    <a href="/notifications" title="Notificações">Notificações</a>
    <ul class="nav">
      <li {% if page.url == '/notifications/secret_key/' %}class="active"{% endif %}>
        <a href="/notifications/secret_key" title="Chave secreta">Chave Secreta</a>
      </li>
    </ul>
  </li>
  <li class="submenu {% if page.url == '/bank_contracts/' %}active{% endif %}">
    <a href="/bank_contracts" title="Carteiras de Cobrança">Carteiras de Cobrança</a>
    <ul class="nav">
      <li {% if page.url == '/bank_contracts/bb/' %}class="active"{% endif %}>
        <a href="/bank_contracts/bb" title="Banco do Brasil">Banco do Brasil</a>
      </li>
      <li {% if page.url == '/bank_contracts/banestes/' %}class="active"{% endif %}>
        <a href="/bank_contracts/banestes" title="Banrisul">Banestes</a>
      </li>
      <li {% if page.url == '/bank_contracts/banrisul/' %}class="active"{% endif %}>
        <a href="/bank_contracts/banrisul" title="Banrisul">Banrisul</a>
      </li>
      <li {% if page.url == '/bank_contracts/bradesco/' %}class="active"{% endif %}>
        <a href="/bank_contracts/bradesco" title="Bradesco">Bradesco</a>
      </li>
      <li {% if page.url == '/bank_contracts/cef/' %}class="active"{% endif %}>
        <a href="/bank_contracts/cef" title="Caixa Econômica Federal">Caixa Econômica Federal</a>
      </li>
      <li {% if page.url == '/bank_contracts/citibank/' %}class="active"{% endif %}>
        <a href="/bank_contracts/citibank" title="CitiBank">CitiBank</a>
      </li>
      <li {% if page.url == '/bank_contracts/hsbc/' %}class="active"{% endif %}>
        <a href="/bank_contracts/hsbc" title="HSBC">HSBC</a>
      </li>
      <li {% if page.url == '/bank_contracts/itau/' %}class="active"{% endif %}>
        <a href="/bank_contracts/itau" title="Itaú">Itaú</a>
      </li>
      <li {% if page.url == '/bank_contracts/safra/' %}class="active"{% endif %}>
        <a href="/bank_contracts/safra" title="Safra">Safra</a>
      </li>
      <li {% if page.url == '/bank_contracts/sicoob/' %}class="active"{% endif %}>
        <a href="/bank_contracts/sicoob" title="Sicoob">Sicoob</a>
      </li>
      <li {% if page.url == '/bank_contracts/sicredi/' %}class="active"{% endif %}>
        <a href="/bank_contracts/sicredi" title="Sicredi">Sicredi</a>
      </li>
      <li {% if page.url == '/bank_contracts/santander/' %}class="active"{% endif %}>
        <a href="/bank_contracts/santander" title="Santander">Santander</a>
      </li>
    </ul>
  </li>
  <li class="submenu {% if page.url == '/changelog/' %}active{% endif %}">
    <a href="/changelog" title="Changelog">Changelog</a>
  </li>
</ul>
